<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>mailTwo</title>
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&display=swap");

      *,
      html {
        box-sizing: border-box;
        margin: 0px;
        padding: 0px;
        font-family: "Manrope", sans-serif;
      }
    </style>
  </head>

  <body
    style="background-color: #ffffff; display: flex; justify-content: center"
  >
    <table
      width="100%"
      style="
        background-color: #f3f3f3;
        border-spacing: 30px;
        max-width: 760px;
        border-radius: 30px;
      "
    >
      <!-- Header Section -->
      <tr>
        <td>
          <table border="0" cellpadding="0" cellspacing="0" style="width: 100%">
            <tbody>
              <tr>
                <td width="50%" height="140">
                  <a href="#" target="_blank">
                    <img
                      src="https://sfo3.digitaloceanspaces.com/cp-pay-space/PublicImages/PublicImages/email-images/logo.svg"
                      alt="CRED"
                      title="CRED"
                      height="46"
                      style="margin-left: 25px"
                    />
                  </a>
                </td>
                <td
                  width="50%"
                  height="140"
                  align="right"
                  style="font-size: 13px; text-align: right ;"
                >
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
      <!-- section 2 -->
      <tr>
        <td>
          <table
            width="100%"
            style="
              background-color: #ffffff;
              border-spacing: 0px;
              border-radius: 30px;
            "
            align="center"
          >
            <tr>
              <td align="center" width="100%">
                <img src=" /imgs/bg.png " style="width: 650px" alt="bg-img" />
              </td>
            </tr>
            <tr>
              <td
                style="
                  font-weight: 700;
                  font-size: 24px;
                  line-height: 32px;
                  color: #000000;
                  padding-left: 29px;
                  padding-right: 40px;
                  padding-top: 40px;
                "
              >
                Every single day new crypto currencies are being launched?
              </td>
            </tr>
            <tr>
              <td
                style="
                  font-weight: 400;
                  font-size: 14px;
                  line-height: 16px;
                  padding-left: 33px;
                  padding-right: 40px;
                  color: #000000;
                  padding-top: 30px;
                "
              >
                Every single day there’s a new crypto currency and a new ICO is
                getting launched. But most of the crypto projects are scam or
                they don’t sustain in long terms.
              </td>
            </tr>
            <tr>
              <td
                style="
                  font-weight: 400;
                  font-size: 14px;
                  line-height: 16px;
                  padding-left: 33px;
                  padding-right: 40px;
                  color: #000000;
                  padding-top: 15px;
                "
              >
                Is your Project ready to tackle all the upcoming challenges?
              </td>
            </tr>
            <tr>
              <td
                style="
                  font-weight: 400;
                  font-size: 14px;
                  line-height: 16px;
                  padding-left: 33px;
                  padding-right: 39px;
                  color: #000000;
                  padding-top: 15px;
                "
              >
                Lets look at all possible solutions.
              </td>
            </tr>

            <!-- card section -->
            <tr>
                <td align="center" >
                    <table style="margin-top: 30px;width: calc(100% - 100px);">
                        <tr>
                            <td align="center">
                                  <!-- card 1 -->
                                    <table style="width: 140px;
                                    height: 140px;border-radius: 10px;border: 1px solid #000000;">
                                     <tr>
                                        <td align="center"  >
                                            <img src="./Archive/social-media.gif" style="width:48px;height: 48px;"></img>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td >
                                            <p style="font-weight: 400;
                                                        font-size: 14px;
                                                         text-align:center;
                                                         color: #000000;">
                                                    
                                                         Community Engagement
                                                        </p>
                                        </td>
                                    </tr>
                                    </table>
                            </td>
                            <td align="center">
                                  <!-- card 2 -->
                                    <table style="width: 140px;
                                    height: 140px;border-radius: 10px;border: 1px solid #000000;">
                                     <tr>
                                        <td align="center"  >
                                            <img src="./Archive/hacker.gif" style="width:48px;height: 48px;"></img>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p style="font-weight: 400;
                                                        font-size: 14px;
                                                         text-align:center;
                                                         color: #000000;">
                                                              Developer
                                                              Documentation
                                                        </p>
                                        </td>
                                    </tr>
                                    </table>
                            </td>
                            <td align="center">
                                  <!-- card 3 -->
                                    <table style="width: 140px;
                                    height: 140px;border-radius: 10px;border: 1px solid #000000;">
                                     <tr>
                                        <td align="center" style="position:relative ; top:50%;left:50%;transform: translate(-50%,-10%);" >
                                            <img src="./Archive/save-money.gif" style="width:48px;height: 48px;"></img>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="position:relative; top: 50%;left:50%;transform: translate(-50%,-50%);">
                                            <p style="font-weight: 400;
                                                        font-size: 14px;
                                                         text-align:center;
                                                         color: #000000;">
                                                        Staking Program
                                                        </p>
                                        </td>
                                    </tr>
                                    </table>
                            </td>
                          
                        </tr>
                    </table>
                  
                    
                </td>
            </tr>
            <tr>
                <td align="center" >
                    <table style="margin-top: 30px;margin-bottom:50px ;width: calc(100% - 100px);">
                        <tr>
                            <td align="center">
                                  <!-- card 1 -->
                                    <table style="width: 140px;
                                    height: 140px;border-radius: 10px;border: 1px solid #000000;">
                                     <tr>
                                        <td align="center"  >
                                            <img src="./Archive/wave.gif" style="width:48px;height: 48px;"></img>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="position:relative; top: 50%;left:50%;transform: translate(-50%,-50%);">
                                            <p style="font-weight: 400;
                                                        font-size: 14px;
                                                         text-align:center;
                                                         color: #000000;">
                                                    
                                                    Regular AMA
                                                        </p>
                                        </td>
                                    </tr>
                                    </table>
                            </td>
                            <td align="center">
                                  <!-- card 2 -->
                                    <table style="width: 140px;
                                    height: 140px;border-radius: 10px;border: 1px solid #000000;">
                                     <tr>
                                        <td align="center"  >
                                            <img src="./Archive/diagram.gif" style="width:48px;height: 48px;"></img>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p style="font-weight: 400;
                                                        font-size: 14px;
                                                         text-align:center;
                                                         color: #000000;">
                                                             A DAO with top Holders
                                                        </p>
                                        </td>
                                    </tr>
                                    </table>
                            </td>
                            <td align="center">
                                  <!-- card 3 -->
                                    <table style="width: 140px;
                                    height: 140px;border-radius: 10px;border: 1px solid #000000;">
                                     <tr>
                                        <td align="center" style="position:relative ; top:50%;left:50%;transform: translate(-50%,-10%);" >
                                            <img src="./Archive/customer.gif" style="width:48px;height: 48px;"></img>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="position:relative; top: 50%;left:50%;transform: translate(-50%,-50%);">
                                            <p style="font-weight: 400;
                                                        font-size: 14px;
                                                         text-align:center;
                                                         color: #000000;">
                                                        Answer Community
                                                        </p>
                                        </td>
                                    </tr>
                                    </table>
                            </td>
                          
                        </tr>
                    </table>
                  
                    
                </td>
            </tr>

            <tr>
              <td align="center">
                <table style="margin-top: 50px; margin-bottom: 30px">
                  <tr>
                    <td>
                      <button
                        style="
                          background: #8bd3bf;
                          border-radius: 9px;
                          width: 281px;
                          border: #8bd3bf;
                          height: 50px;
                          font-weight: 700;
                          font-size: 14px;
                          line-height: 16px;
                          text-align: center;
                          color: #000000;
                          height: 50px;
                        "
                      >
                        Consult with us Now
                      </button>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>

      <!-- section 3-->
      <tr>
        <td>
          <table
            width="100%"
            style="
              border-spacing: 30px;
              padding-top: 37px;
              padding-bottom: 10px;
              background-color: #ffffff;
              border-radius: 30px;
              text-align: center;
            "
          >
            <tr style="font-size: 30px">
              <td>100% Client Satisfaction</td>
            </tr>

            <tr>
              <td><img src="./imgs/top-client.png" alt="" /></td>
            </tr>
          </table>
        </td>
      </tr>
      <!-- section 4 -->
      <tr>
        <td>
          <table
            width="100%"
            style="border-spacing: 20px; margin: 0px"
            align="center"
          >
            <tr
              style="text-align: center; font-size: 13px; padding-bottom: 30px"
            >
              <td>© Reserved by Code Partner Inc.</td>
            </tr>
            <tr style="text-align: center; font-size: 15px">
              <td style="padding-bottom: 20px">
                N163, Taltala, Saiyadbali, Midnapore, WB IN 721260
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>
